name: My stream of consciousness
url: https://blog.tsondt.com
paginate: 10
paginate_path: /posts/page/:num/
permalink: posts/:slug
ga_id: UA-103691933-2
scrollappear_enabled: true
rss_enabled: true
social:
  email:
  website: https://tsondt.com
  github: https://github.com/tsondt
  linkedin: https://linkedin.com/in/tsondt
  twitter: https://twitter.com/tsondt
  wiki: https://wiki.tsondt.com
  bitcoin:
  facebook:
sass:
  sass_dir: assets/css
  style: compressed
collections:
  my_tags:
    output: true
    permalink: /tags/:slug/
defaults:
  -
    scope:
      path: ""
      type: my_tags
    values:
      layout: articles_by_tag
exclude:
  - "README.md"
  - "LICENSE"
  - "Dockerfile"
  - "*.sh"
  - "Gemfile"
  - "Gemfile.lock"
  - "package.json"
  - "package-lock.json"
  - "webpack.config.js"
  - "src/"
  - "node_modules/"
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jemoji
