// =============================================================================
// Header
// =============================================================================

.header-nav {
  display: block;
  padding: 50px 0 20px;
  border-bottom: 1px solid $base-border-color;
}

.header-logo {
  display: inline-block;
  font-family: $serif;
  font-size: $base-font-size * 2.25;
  font-weight: 700;
  color: $header-logo-color;
  text-decoration: none;
}

.header-links {
  float: right;
  padding: 0;
  margin: 15px 0 0;
  list-style: none;
  li {
    display: inline-block;
    margin-left: 20px;
    vertical-align: middle;
    &:first-child {
      margin-left: 0;
    }
    a {
      font-size: 18px;
      color: $header-link-color;
      &:hover {
        color: $header-link-color-hover;
      }
    }
    .theme-toggle {
      width: 36px;
      height: 36px;
      background: transparent;
      border: none;
      cursor: pointer;
      padding: 0;
      outline: none;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      color: $header-link-color;
      transition: color $base-transition-speed linear, border-color $base-transition-speed linear, background $base-transition-speed linear;
      &:focus-visible {
        outline: 2px solid $base-accent-color;
        outline-offset: 3px;
      }
      &:hover,
      &:focus-visible {
        color: $header-link-color-hover;
        border-color: $header-link-color-hover;
      }
      .icon {
        font-size: 20px;
        line-height: 1;
        display: none;
      }
      .icon-moon {
        display: inline-block;
      }
      &.is-light {
        color: $header-link-color-hover;
        border-color: $header-link-color-hover;
        background: $grid-background;
        .icon-moon {
          display: none;
        }
        .icon-sun {
          display: inline-block;
        }
      }
    }
  }
}

@include breakpoint(extra-small) {
  .header-nav {
    text-align: center;
    padding: 0;
  }
  .header-links {
    display: block;
    float: none;
    text-align: center;
    li {
      margin: 0 10px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
