// =============================================================================
// Highlights light
// =============================================================================

.highlight {
  padding: 5px 5px;
  margin: 5px 0px 15px 0px;
  overflow: auto;
  font-size: $base-font-size * .95;
  font-weight: 400;
  background-color: darken($gray-lightest, 5);
  border: 1px solid $base-border-color;
  border-radius: $base-border-radius;
  pre {
    margin: 0;
  }
}

// Inline highlighting

.highlighter-rouge {
  padding: 2px 4px;
  margin: 5px 0px 15px 0px;
  font-size: $base-font-size  * .95;
  color: #d33682;
  background: darken($gray-lightest, 5);
  border: 1px solid $base-border-color;
  border-radius: 1px;
  .highlight {
    border: none !important;
    margin: 0 !important;
  }
}

// Highlighting types
// =============================================================================

.highlight pre {
  background-color: darken($gray-lightest, 5);
}

.highlight .hll {
  background-color: darken($gray-lightest, 5);
}

// Comment

.highlight .c {
  color: #6a737d;
}

// Error

.highlight .err {
  color: #b31d28;
  background-color: #ffeef0;
}

// Keyword

.highlight .k {
  color: #005cc5;
}

// Literal

.highlight .l {
  color: #6f42c1;
}

// Name

.highlight .n {
  color: #24292e;
}

// Operator

.highlight .o {
  color: #d73a49;
}

// Punctuation

.highlight .p {
  color: #24292e;
}

// Comment.Multiline

.highlight .cm {
  color: #6a737d;
}

// Comment.Preproc

.highlight .cp {
  color: #6a737d;
}

// Comment.Single

.highlight .c1 {
  color: #6a737d;
}

// Comment.Special

.highlight .cs {
  color: #6a737d;
}

// Generic.Emph

.highlight .ge {
  font-style: italic;
}

// Generic.Strong

.highlight .gs {
  font-weight: bold;
}

// Keyword.Constant

.highlight .kc {
  color: #005cc5;
}

// Keyword.Declaration

.highlight .kd {
  color: #005cc5;
}

// Keyword.Namespace

.highlight .kn {
  color: #d73a49;
}

// Keyword.Pseudo

.highlight .kp {
  color: #005cc5;
}

// Keyword.Reserved

.highlight .kr {
  color: #005cc5;
}

// Keyword.Type

.highlight .kt {
  color: #005cc5;
}

// Literal.Date

.highlight .ld {
  color: #e36209;
}

// Literal.Number

.highlight .m {
  color: #6f42c1;
}

// Literal.String

.highlight .s {
  color: #032f62;
}

// Name.Attribute

.highlight .na {
  color: #005cc5;
}

// Name.Builtin

.highlight .nb {
  color: #24292e;
}

// Name.Class

.highlight .nc {
  color: #6f42c1;
}

// Name.Constant

.highlight .no {
  color: #005cc5;
}

// Name.Decorator

.highlight .nd {
  color: #6f42c1;
}

// Name.Entity

.highlight .ni {
  color: #24292e;
}

// Name.Exception

.highlight .ne {
  color: #d73a49;
}

// Name.Function

.highlight .nf {
  color: #6f42c1;
}

// Name.Label

.highlight .nl {
  color: #24292e;
}

// Name.Namespace

.highlight .nn {
  color: #24292e;
}

// Name.Other

.highlight .nx {
  color: #005cc5;
}

// Name.Property

.highlight .py {
  color: #24292e;
}

// Name.Tag

.highlight .nt {
  color: #22863a;
}

// Name.Variable

.highlight .nv {
  color: #24292e;
}

// Operator.Word

.highlight .ow {
  color: #d73a49;
}

// Text.Whitespace

.highlight .w {
  color: #24292e;
}

// Literal.Number.Float

.highlight .mf {
  color: #6f42c1;
}

// Literal.Number.Hex

.highlight .mh {
  color: #6f42c1;
}

// Literal.Number.Integer

.highlight .mi {
  color: #6f42c1;
}

// Literal.Number.Oct

.highlight .mo {
  color: #6f42c1;
}

// Literal.String.Backtick

.highlight .sb {
  color: #032f62;
}

// Literal.String.Char

.highlight .sc {
  color: #032f62;
}

// Literal.String.Doc

.highlight .sd {
  color: #032f62;
}

// Literal.String.Double

.highlight .s2 {
  color: #032f62;
}

// Literal.String.Escape

.highlight .se {
  color: #6f42c1;
}

// Literal.String.Heredoc

.highlight .sh {
  color: #032f62;
}

// Literal.String.Interpol

.highlight .si {
  color: #032f62;
}

// Literal.String.Other

.highlight .sx {
  color: #032f62;
}

// Literal.String.Regex

.highlight .sr {
  color: #032f62;
}

// Literal.String.Single

.highlight .s1 {
  color: #032f62;
}

// Literal.String.Symbol

.highlight .ss {
  color: #032f62;
}

// Name.Builtin.Pseudo

.highlight .bp {
  color: #24292e;
}

// Name.Variable.Class

.highlight .vc {
  color: #24292e;
}

// Name.Variable.Global

.highlight .vg {
  color: #24292e;
}

// Name.Variable.Instance

.highlight .vi {
  color: #24292e;
}

// Literal.Number.Integer.Long

.highlight .il {
  color: #6f42c1;
}

// Generic.Subheading & Diff Unified/Comment?

.highlight .gu {
  color: #6a737d;
}

// Generic.Deleted & Diff Deleted

.highlight .gd {
  color: #d73a49;
}

// Generic.Inserted & Diff Inserted

.highlight .gi {
  color: #22863a;
}
