// =============================================================================
// Footer
// =============================================================================

.footer {
  display: block;
  padding-top: 20px;
  margin-bottom: 50px;
  border-top: 1px solid $base-border-color;
  p {
    font-size: $base-font-size;
    color: $article-footer-color;
    text-align: center;
  }
  a {
    text-decoration: none;
  }
}
