---
layout: compress
---

<!doctype html>
<html lang="en">
{% include head.html %}
<body>
  <main>
    <div class="grid grid-centered">
      <div class="grid-cell">
        {% include navigation.html %}
        <article class="article {% if site.scrollappear_enabled %}appear{% endif %}">
          <header class="article-header">
            <h1>{{ page.title }}</h1>
            <p>{{ page.description }}</p>
            <div class="article-list-footer">
              <span class="article-list-date">
                {{ page.date | date: "%B %-d, %Y" }}
              </span>
              <span class="article-list-divider">|</span>
              <span class="article-list-minutes">
                {% capture words %}
                  {{ page.content | number_of_words }}
                {% endcapture %}
                {% unless words contains "-" %}
                  {{ words | plus: 250 | divided_by: 250 | append: " minute read" }}
                {% endunless %}
              </span>
              <span class="article-list-divider">|</span>
              <div class="article-list-tags">
                <span class="icon icon-tag"></span>
                {% for tag in page.tags %}
                  <a href="{{ 'tags/' | relative_url }}{{ tag }}">{{ tag }}</a>
                {% endfor %}
              </div>
            </div>
          </header>

          <div class="article-content">
            {{ content }}
          </div>

          <div class="article-share">
            {% assign page_title = page.title | cgi_escape | truncate: 110 %}
            <a href="https://www.linkedin.com/sharing/share-offsite/?url={{ page.url | absolute_url }}" title="Share on LinkedIn" aria-label="Share on LinkedIn" rel="noreferrer noopener" target="_blank">
              <span class="icon icon-linkedin" aria-hidden="true"></span>
            </a>
            {% if site.social.x %}
            {% assign x_handle = site.social.x | default: '' | replace: 'https://x.com/', '' | replace: 'http://x.com/', '' | replace: 'https://www.x.com/', '' | replace: 'http://www.x.com/', '' | split: '/' | first %}
            {% capture x_share_text %}{{ page_title }} - {{ page.url | absolute_url }}{% if site.social.x %} by @{{ x_handle }}{% endif %}{% endcapture %}
            <a href="https://x.com/intent/tweet?text={{ x_share_text }}" title="Share on X" aria-label="Share on X" rel="noreferrer noopener" target="_blank">
              <span class="icon icon-x" aria-hidden="true"></span>
            </a>
            {% endif %}
            {% if site.social.facebook %}
            {% assign facebook_share_quote = page.title | strip | truncate: 110 | uri_escape %}
            <a href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | absolute_url | uri_escape }}&quote={{ facebook_share_quote }}" title="Share on Facebook" aria-label="Share on Facebook" rel="noreferrer noopener" target="_blank">
              <span class="icon icon-facebook" aria-hidden="true"></span>
            </a>
            {% endif %}
          </div>
          {% if jekyll.environment != "development" %}
          {% include disqus.html %}
          {% endif %}
        </article>
        {% include footer.html %}
      </div>
    </div>
  </main>
  {% include javascripts.html %}
</body>
</html>
